/* ----------- Tag selector ---------- */

/* h1 {
  color: red;
}

p {
  color: aqua;
} */

/* ------------- ID Selector --------- */

/* #hello {
  background-color: brown;
  color: blue;
}

#bye {
  background-color: aqua;
} */

/* ------------ CLass Selector -------- */
/* .cricket {
  background-color: red;
}

.tennis {
  background-color: yellow;
} */

p {
  background-color: antiquewhite;
}
